[submodule "bonsai"]
	path = bonsai
	url = https://github.com/dnbaker/bonsai
[submodule "sketch"]
	path = sketch
	url = https://github.com/dnbaker/sketch
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
[submodule "distmat"]
	path = distmat
	url = https://github.com/dnbaker/distmat
